# Ignorar arquivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar o ambiente virtual (virtualenv)
venv/
env/

# Ignorar arquivos de banco de dados SQLite
db.sqlite3

# Ignorar arquivos de configuração do IDE
.vscode/
.idea/

# Ignorar arquivos de cache de Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
